.st-bg-red{
background-color:lavenderblush
}

.st-bg-green{
background-color:honeydew
}

.st-bg-blue{
background-color:lightcyan
}

.st-bg-yellow{
background-color:lightyellow
}

.st-bg-orange{
background-color:LightSalmon
}
